body {
  margin:0;
  padding:0;
  background-color: azure;
  font-family: 'rockwell', monospace;
}
.boxed {
  border: 3px dotted darkblue ;
}
p{
	line-height: 150%;
	font-size: 14px;
}

.clear{
	clear:both;
}




.nav-logo{
	padding-top:4px;
}


.nav a{
	color: black;
	display: inline-block;
	padding-left: 0.7em;
	padding-right: 0.7em;
	background-color: #ADD8E6;
	border-radius: 10px;
	text-decoration: none;
}


.nav a:current{
	background-color: #94e290;
}




.container{
	width: 100%;
	margin: auto;
	text-align:center;
}

.box-1{
	background-color: #4682B4;
	text-align:center;
	color: #FFFEF1;
	margin: 0;
	padding-left:15%;
	padding-right:15%;
	padding-top: 5px;
	padding-bottom: 20px;
}

.box-1 h3{
	color: #B0E0E6;
}

.box-1-sub{
	background-color: #355342;
	text-align:center;
	color: #FFFEF1;
	margin: 0;
	padding-bottom: 10px;
	padding-left:10%;
	padding-right:10%;
}

.box-2 h2{
	color: #355342;
	font-size:32px;
}

.box-2-sub{
	text-align: center;
	padding-top:20px;
	padding-bottom: 20px;
}



#practical-ul{
	list-style-type: circle;
}

.box-1-sub{
	background-color: #355342;
	text-align:center;
	color: #FFFEF1;
	margin: 0;
	padding-bottom: 10px;
	padding-left:10%;
	padding-right:10%;
}